<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Day2.iTest"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/nikshay.mohla/IdeaProjects/untitled/src/test/java/Day2/OrangeHrmTest.java">
        <classes>
            <class name="Day2.OrangeHrmTest"/>
        </classes>
    </test>
</suite>